body{
  font-family: 'Josefin Sans', sans-serif;
}




.header {
  background-color: #123C69;
  height: 35px;
  width: 100%;
  margin: 0 0 2vw 0; 
}
    .header h3{
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 16px; 
      letter-spacing: 0.5vw; 
      float: left;
      margin: 0.5vw 0 0 1vw; 
      vertical-align: middle;
    }

    .navlink{
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 14px; 
      float: right;
      margin: 0.5vw 1vw 0 1vw ;
    }

        .header button{
          margin: 0 2vw 0 2vw; 
        }

        .header p{
          margin: 0.5vw 0 0 4vw; 
        }

.headerCharles{
  width: 80%;
  height: 6vw;
  margin: auto;
  margin-bottom: 2vw; 
  padding: 3vw 0; 
  background-color:#618927;
 
}

  .headerCharles h1 {
      color: white;
      font-family: 'Quicksand', sans-serif;
      font-size: 3vw; 
      letter-spacing: 1vw; 
      text-align: center;
      vertical-align: middle;
      font-weight: lighter; 
      margin-top: 0; 
      margin-bottom: 0.5vw;
 
  }

  .headerCharles h3 {
    color: white;
    font-family: 'Satisfy', cursive;
    font-size: 2vw; 
    text-align: center; 
    margin-top: 0; 
    vertical-align: middle;

  }



.tabs {
  display: inline-flex;
float: right;
  margin: 0 9vw 0 0; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3vw;
}

      .tabs-filter{
        display: inline-flex; 
      }
      .tabs-input{
        margin: 0 1vw 0 1vw; 
      }





.table{
  margin:  8vw 4vw 0vw 4vw; 
  border-bottom: 0.5px solid lightgray; 
}
th{
  text-align: left; 
  height: 40px;
  width: 7vw; 
  vertical-align: middle;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.3vw;
  padding: 0; 
  margin: 0; 
}


    th:nth-child(1) {
      width: 18vw;
      }
      th:nth-child(2) {
        width: 18vw;
        }
        th:nth-child(9) {
          width: 15vw;
          }

.table-header{
  margin: 8vw 4vw 1vw 4vw; 
  border-bottom: 0.5px solid lightgray; 
  display: grid;
  grid-template-columns: 18vw 15vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 10vw 1fr 1fr; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1vw;
  font-weight: bold; 
  height: 40px;
  align-content: center; 
}

.table-products{
  margin: 0vw 4vw; 
  border-bottom: 0.5px solid lightgray; 
  display: grid;
  grid-template-columns: 18vw 15vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 10vw 1fr 1fr; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1vw;
  font-weight: lighter; 
  height: 40px;
  align-content: center; 
}
.table-products:hover {background-color: #f5f5f5;}




.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  
}

        .popup-inner {
          position: absolute;
          left: 25%;
          right: 25%;
          top: 25%;
          bottom: 25%;
          margin: auto;
          background: white;
          display: flexbox;  
          font-family: 'Quicksand', sans-serif;
        }
          .popup-inner h1{
             font-size: 20px; 
             margin: 2vw; 
          }

              .popup-form{
                display: grid;  
                grid-template-columns: 8.5vw 9vw 6vw 6vw 6vw 9vw; 
                grid-template-rows: 1fr 1fr 1fr 1fr; 
                margin: 1vw; 
                font-size: 15px; 
              }

              .popup-form label {
                margin: 1vw;
              }
         
              .popup-form input {
                margin: 1vw 0;
              }
              
              .button-under{
                margin: 2vw 4vw; 
                float: right;
              }




              .popup-form-update{
                display: grid;  
                grid-template-columns: 8.5vw 1fr 1fr 1fr 1fr 1fr; 
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
                margin: 1vw; 
                font-size: 15px; 
              }





/******************** BUTTONS *********************/

.small-button {
  background-color: #618927;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20.5px;
  margin: 0 1vw 0 1vw; 
  font-size: 1vw;
  max-width: 10vw;
  max-height: 5vh; 
}
.small-button:hover{
  background:#618927; 
     opacity: 0.5; 
}

.small-button-right {
  background-color: #618927;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20.5px;
  margin: 0 1vw 0 1vw; 
  padding: 0.2vw 0.5vw; 
  font-size: 1vw;
  max-width: 10vw;
  max-height: 5vh; 
  float: right; 
  text-decoration: none; 
}
.small-button-right:hover{
  background:#618927; 
     opacity: 0.5; 
}



.middle-button {
  background-color: #618927;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20.5px;
  margin: 0 1vw 0 1vw; 
  font-size: 1.5vw;
  max-width: 10vw;
  max-height: 5vh; 
  float: right; 
}
.middle-button:hover{
  background:#618927; 
     opacity: 0.5; 
}




.big-button {
  background-color: #618927;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20.5px; 
  position: relative;
  left: 35%;
  top: 90%; 

  padding: 0.5vw 1vw; 
  font-size: 1.5vw;
}

.big-button:hover{
  background:#618927; 
     opacity: 0.5; 
}


.big-button-right {
  background-color: #618927;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 20.5px; 
  position: relative;
  left: 35%;
  top: 90%; 
  float: right; 
  padding: 0.5vw 1vw; 
  font-size: 1.5vw;
}

.big-button-right:hover{
  background:#618927; 
     opacity: 0.5; 
}

    .table-button{
      border-color: #618927;
      border-radius: 20.5px;
      margin: 0 1vw 0 1vw;  
    }

    .table-button:hover {
      background:#618927; 
     opacity: 0.5; 
    }


  /* **************LANDINGSPAGE GRID OVERVIEW ****************/

  .landingspage-grid {
    width: 75%;
    margin: auto; 
    margin-bottom: 30vh; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20vh 20vh 20vh 20vh;
    border: 1px solid #123C69

  }

  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.text-normal {
  color:#123C69; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw; 
  margin: 1vw 0 0 0  ; 
  font-weight: lighter; 
  opacity: 1;
}
  
.text-normal-bold{
  color:#123C69; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw; 
  margin: 1vw 13.5vw 0 0  ; 
  font-weight: bold; 
  opacity: 1;
  float: right
}
.text-red{
  color:red; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1vw; 
  margin: 1vw 13.5vw 0 0  ; 
  font-weight: bold; 
  opacity: 1;
  float: left
}

.text-big{
  color: #123C69; 
  font-family: 'Quicksand', sans-serif;
  font-size: 3vw; 
  margin: 1vw 0 0 0; 
  font-weight: lighter; 
  text-decoration: none; 
}
          .landingspage-1 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 1;
            grid-row-end: 2;
          }
              .landingspage-1 :hover {
                outline: 3px solid #123C69 ;
                outline-offset: -3px;
              }

          .landingspage-2 {
            grid-column-start: 2;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 3;
            display: inline;
            padding:  2vh 5vw 2vh 2.5vw; 
          }

              /* .landingspage-2:hover {
                outline: 3px solid #123C69 ;
                outline-offset: -3px;
                /* border: 3px solid #123C69 ; */
              
              /* } */ 

          .landingspage-3 {
            grid-column-start: 3;
            grid-column-end: 5;
            grid-row-start: 1;
            grid-row-end: 3;
            background-color: #618927; 
            padding: 10% 0;
            text-decoration: none; 
          }


              .landingspage-3:hover {
                outline: 3px solid #123C69 ;
                outline-offset: -3px;
              }

            .landingspage-4 {
            grid-column-start: 1;
            grid-column-end: 2;
            grid-row-start: 2;
            grid-row-end: 4;
            background-color:#6B6E70; 
            background: rgba(216,216,216,0.5); 
            padding:  2vh 5vw 2vh 2.5vw; 
            text-decoration: none; 
          }
              .landingspage-4:hover {
                outline: 3px solid #123C69 ;
                outline-offset: -3px;
              }

            .landingspage-5 {
              grid-column-start: 2;
              grid-column-end: 3;
              grid-row-start: 3;
              grid-row-end: 4;
            }
                .landingspage-5 :hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }
            

            .landingspage-6 {
              grid-column-start: 3;
              grid-column-end: 4;
              grid-row-start: 3;
              grid-row-end: 5;
              background-color: #F9FAFF; 
              padding: 2vh 5vw 2vh 2.5vw; 
            }
                .landingspage-6:hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }

            .landingspage-7 {
              grid-column-start: 4;
              grid-column-end: 5;
              grid-row-start: 3;
              grid-row-end: 4;
              padding:  2vh 5vw 2vh 2.5vw;
            }
                .landingspage-7:hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }

            .landingspage-8 {
              grid-column-start: 1;
              grid-column-end: 2;
              grid-row-start: 4;
              grid-row-end: 5;
            }
                .landingspage-8:hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }
            .landingspage-9 {
              grid-column-start: 2;
              grid-column-end: 3;
              grid-row-start: 4;
              grid-row-end: 5;
              padding: 2vh 5vw 2vh 2.5vw; 
              text-decoration: none; 
            }
                .landingspage-9:hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }

            .landingspage-10 {
              grid-column-start: 4;
              grid-column-end: 5;
              grid-row-start: 4;
              grid-row-end: 5;
            }
                .landingspage-10:hover {
                  outline: 3px solid #123C69 ;
                  outline-offset: -3px;
                }




  /* **************LANDINGSPAGE GRID PEOPLE OVERVIEW ****************/

  .header-big {
    font-family: 'Satisfy', cursive;
    font-size: 3vw; 
    color: #123C69; 
    text-align: center; 
    margin-top: 5vw; 
    margin-bottom:  5vw;
  }

  .header-big-center{
    font-family: 'Satisfy', cursive;
    font-size: 3vw; 
    color: #123C69; 
    text-align: center; 
    margin-top: 15vw; 
    margin-bottom:  5vw;
  }
  .landingspage-people {
    width: 75%;
    margin: auto; 
    margin-bottom: 20vh; 
    display: grid;
    grid-template-columns: 20vh auto 20vh;
    grid-template-rows: 20vh 20vh 20vh 20vh 20vh 20vh; 
    grid-gap: 2vw; 
 
  }

  .landingspage-people-img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: 3px solid #618927; 
  }

  .landingspage-people-img:hover{
    border: 3px solid #123C69; 
  }
  .landingspage-people-img-nohover{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border: 3px solid #618927; 
  }
.text-peope-grid{
  align-self: center; 
  text-decoration: none; 
}
  .text-people-grid-header-right{
    font-family: 'Satisfy', cursive;
    font-size: 2vw; 
    color: #123C69;
    text-align: right;   
  }
  .text-people-grid-header-left{
    font-family: 'Satisfy', cursive;
    font-size: 2vw; 
    color: #123C69;
  }

          .text-people-grid-header-left:hover{
            color: #D8D8D8; 
          }
          .text-people-grid-header-right:hover{
            color: #D8D8D8; 
          }

          .text-people-grid-header-right-nohover{
            font-family: 'Satisfy', cursive;
            font-size: 2vw; 
            color: #123C69;
            text-align: right;   
          }
          .text-people-grid-header-left-nohover{
            font-family: 'Satisfy', cursive;
            font-size: 2vw; 
            color: #123C69;
          }
  .text-people-grid-right{
  color: #123C69; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2vw; 
  text-align: right;
  }

  .text-people-grid-left{
    color: #123C69; 
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2vw; 
    }


  /****************** FOOTER ***************** */

  .footer3{
    display: grid;
    width: 100%;
    height: 40vh;
    margin: auto; 
    grid-template-columns: 15vw 15vw 15vw; 
    grid-gap: 8vw; 
    background-color: #F9FAFF;
    justify-content: center; 		

  }
    .footer{
      margin: 6vh 0 2vh 0; 
    }

      .footer-title{
        font-family: 'Satisfy', cursive;
        font-size: 1.5vw; 
        color: #123C69;
        margin: 6vh 0 2vh 0; 
        text-decoration: none; 
      }
          .footer-title:hover {
            color: #D8D8D8; 
          }
      ul{
        color: #123C69; 
        font-family: 'Quicksand', sans-serif;
        font-size: 1.2vw; 
        list-style-type: none;
        padding: 0; 
      } 
      li {
        margin: 0 0 1vh 0; 
      }

        li:hover{
          color: #D8D8D8; 
        }


/***************** ABOUT PAGE *****************/

.banner{
  background-color:#618927;
  width: 75%;
  margin: auto; 
  height: 15vw;
  
}

  .banner-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 75% ; 
  }

  .banner-photo-middle{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50% ; 
  }


  .banner-photo-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 90% 10% ; 
  }
  .banner-photo-70{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 70% 30% ; 
  }

  .banner h1{
    font-family: 'Quicksand', sans-serif;
    color: white; 
    font-size: 3vw; 
    letter-spacing: 1vw; 
    text-align: center;
    vertical-align: middle;
    font-weight: lighter; 
    padding: 3vw 0 0 0 ; 
    margin-top: 0; 
    margin-bottom: 0.5vw;
  }

  .banner h3{
    font-family: 'Satisfy', cursive;
    color: white; 
    font-size: 2vw; 
    text-align: center; 
    margin-top: 0; 
    vertical-align: middle;
  
  }

.text-frame {
  width: 75%; 
  margin: auto; 
  margin-bottom: 20vh;
}

  .text-title{
    font-family: 'Satisfy', cursive;
    font-size: 1.5vw; 
    color: #123C69;
    margin: 6vh 0 2vh 0; 
    text-decoration: none; 
  }
      .quote {
        font-family: 'Satisfy', cursive;
        font-size: 2vw; 
        color: #123C69; 
        text-align: center; 
        margin: 6vw; 
        }

      p{
        column-count: 2; 
        color: #123C69; 
        font-family: 'Quicksand', sans-serif;
        font-size: 1.2vw; 
      }

/* ***************CIRKELS**************** */

.cirkels{
  width: 75%;
  margin: auto; 
  margin-top: 20vh;
  margin-bottom: 20vh; 
  display: grid;
  grid-template-columns: 17vh 32vh 22vh 17vh 17vh; 

  grid-gap: 1vw; 
  justify-content: center; 
}


.cirkel1{
  height: 15vh;
  width: 15vh;
  align-self: flex-end; 
  justify-self: center; 
}

.cirkel2{
  height: 30vh;
  width: 30vh;
  align-self: center; 
  justify-self: center; 
}

.cirkel3{
  height: 20vh;
  width: 20vh;
  align-self: center; 
  justify-self: center; 
}

.cirkel4{
  height: 15vh;
  width: 15vh;
  align-self: start; 
  justify-self: center; 
}
.cirkel5{
  height: 15vh;
  width: 15vh;
  align-self: center; 
  justify-self: center; 
}

      .small_round_img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border: 3px solid #618927; 
      }

      .middle_round_img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border: 3px solid #618927; 

      }

      .big_round_img{
        border-radius: 50%;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        border: 3px solid #618927; 

      }


      /****************** Personal page ******************/

      .personal-page{
        width: 75%;
        margin: auto; 
        margin-bottom: 20vh;
      }

      .text-title-left{
        font-family: 'Satisfy', cursive;
        font-size: 3vw; 
        color: #123C69;
        margin: 10vh 2vw 10vh 2vw; 
        text-decoration: none; 
      }

      .coffee-drink-grid{
        margin: 20vh 0 0 2vh; 
        display: grid;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-gap: 2vw; 
        align-items: center; 
      }

      .line-bottom{
        border-bottom: 1px #D8D8D8 solid; 
        display: grid;
        grid-template-columns:  30vw 30vw 1fr;
        align-items: center; 
        padding: 2vw; 
      }

      /***************** ADD NEW ACCOUNT ***************/



    .grid-newaccount-border-all{
      justify-content: center; 
      display: grid;
      grid-template-columns: 10vw 30vw;
      grid-template-rows: 5vh 5vh 5vh 5vh 5vh 5vh;
      grid-gap: 2vw;  
      margin-bottom: 20vh; 
    }

    .grid-newaccount-border-all .text-normal {
      margin:0 ; 
    }

    .grid-newaccount-border-all .small-button-right{
      margin-top: 6vh; 
    }

    .grid-newaccount-border-all p{
      margin: 0; 
      text-decoration: underline; 
    }

    /*************** Log in  ********************/

    .Login-popup-grid{
      margin: 0; 
      display: grid;
      grid-template-columns: 10vw 30vw;
      grid-template-rows: 5vh 5vh 5vh; 
      grid-gap: 1vw;  
    }
    .Login-popup .text-title-left{
      margin-top: 4vh;
      margin-bottom: 4vh
    }

    .Login-popup .text-normal {
      margin: 0 2vw ; 
      text-align: center; 
    }

    .Login-popup .small-button-right {
      justify-self: right;
      align-self: right
    } 


    .text-message {
      color:#123C69; 
      font-family: 'Quicksand', sans-serif;
      font-size: 1.5vw; 
      margin: 0.2vw 0 0 0  ; 
      text-decoration: underline;
      text-decoration-color: #618927; 
      font-weight: lighter; 
      text-align: center; 

    }
/* 
**********Log in POP UP********* */
   
  .float-right {
    float: right; 
    text-align: center;
    display: inline-flex; 
    margin: 2vw;
  }


/* **********CHart*************   */
  .chart-grid{
    display: grid;
    grid-template-columns: 40vw 10vw 10vw 10vw ; 
    grid-template-rows: 100% ; 
    grid-gap: 2vw;  
    padding: 2vw 0 2vw 0; 
    border-bottom: #D8D8D8 1px solid; 

  }

  .chart-grid p{
    display: flex; 
    padding-bottom: 0.5vw;
    font-size: 1.5vw;
  }

  .chart-grid .table-button {
   height: 40%;
   width: 35%; 
   align-self: center

  }

  .center {
    align-items: center;
  }

  .personal-page .big-button{
    margin: 0 0 0 5vw; 
  }

 .buttons-under{
   margin: 10vh 0 0 0; 
 }
/* ***********Contact us ************/

.contact-grid{
  display: grid; 
  grid-template-columns: 10vw 40vw;
  grid-template-rows: 1fr 1fr 1fr 40vh 1fr; 
  grid-gap: 1vw; 
}


.contact-grid .text-normal{
  margin: 0;
  padding: 0; 
}


/******* checkoutPage *******/


.split-form label{
  color:#123C69; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5vw; 
  font-weight: lighter;
  align-self: center; 

}
.split-form {
  margin: 5vh 0; 
  display: flexbox; 
}

.split-form input{
  margin: 0 2vw; 
}

.personal-page-border{
  width: 60%;
  margin: auto; 
  margin-bottom: 20vh; 
  border: 1px #6B6E70 solid; 
  padding: 0 5vw 4vw 5vw; 
}

.StripeElementStripeElement--empty{
  margin: 5vw 0; 
}

/****** Review ******/
.reviews{
  background: #ffffff; 
}
.reviews:hover{
  color: none; 
  background-color: rgb(255, 255, 255); 
  border-color: none;
}

.review-grid{
  display: grid; 
  grid-template-columns: 30vw 40vw;
  grid-template-rows: 1fr 1fr 1fr 1fr 40vh 1fr; 
  grid-gap: 1vw; 
}

.review-grid .text-normal{
  margin: 0;
  padding: 0; 
}

.reviews-new {
  width: 100%;
  margin: auto; 
  margin-bottom: 10vh; 
  margin-top: 10vh; 
  display: grid;
  grid-template-columns: 20vh auto 20vh;
  grid-template-rows: 30vh; 
  grid-gap: 2vw; 

}
.photo-round{
  align-items: center;
  align-self: center; 
  justify-self: center; 

}
.photo-round-big{
  align-items: top;
  align-self: top; 
  justify-self: start; 

}
.landingspage-people-img-nohover-small{
  border-radius: 50%;
  width: 12vh;
  height: 12vh; 
  object-fit: cover; 
  border: 3px solid #618927;
}

/******* Admin *******/

.adminStart .big-button {
  height: 25vh;
  width: 25vw; 
  margin: 0 6vw 0 6vw; 
}

.adminStart {
  float: center; 
  display: flex;
}

a{
  text-decoration: none; 
}
/* DROPDOWN MENU */

/* Dropdown Button */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1vw; 
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}